/* ---------------------------------------------------------------- */
/* ------------------------------HEADER---------------------------- */
/* ---------------------------------------------------------------- */

header {
    width: 1440px;
    height: 123px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

header > nav {
    display: flex;
    justify-content: space-around;
    margin-left: 280px;
    text-decoration: none;
    margin-right: 100px;
  }

header >nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 140px;
}

header > nav > ul > li {
    margin-left: 40px;
    margin-right: 7px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 54px;
    color: #010201;
}

a {
    text-decoration: none;
    color: #000000
}

a:hover {
    color: #ee9972;
    font-weight: 700px;
    transition: color 2s, font-weight 2s;
}

a:active {
    font-weight: 700px;
    transition: font-weight 2s;
}

/* ---------------------------------------------------------------- */
/* ------------------------------MAIN------------------------------ */
/* ---------------------------------------------------------------- */

.main {
    width: 1440px;
}

section {
    width: 1440px;
}

h1 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #F4CE14;
}

h2 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

h3 {
    font-style: normal;
}

h4 {
    font-style: normal;
}

h5 {
    font-style: normal;
    color: #495E57;
}

span {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

p {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

button {
    width: 200px;
    height: 60px;
    background: #F4CE14;
    border-radius: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    cursor: pointer;
}

li {
    list-style: none;
}

/* ---------------------------------------------------------------- */
/* ------------------------------HERO------------------------------ */
/* ---------------------------------------------------------------- */

.hero {
    width: 1440px;
    height: 406px;
    background: #495E57;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero > article {
    width: 422px;
    margin: 60px 0px 0px 0px;
}

.hero > article > h2 {
    margin: 0px 0 10px 50px;
    color: #F4CE14;
}

.hero > article > span {
    margin: 10px 0px 10px 50px;
}

.hero > article > p {
    margin: 20px 0px 20px 50px;
}

.hero > article > button {
    margin: 60px 0px 0px 50px;
}

.hero > img {
    width: 375px;
    height: 440px;
    background: url(../assets/restauranfood.jpg);
    border: 1px solid #000000;
    border-radius: 16px;
    margin: 10px 0px 0 0px;
  }

/* ---------------------------------------------------------------- */
/* ------------------------------HIGHLIGHTS------------------------ */
/* ---------------------------------------------------------------- */

.highlights {
    width: 1440px;
    height: 716px;
    background: #FFFFFF;
}

.highlights > article {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

.highlights > article > h2 {
    color: #000000;
}

.highlights > article > button {
    margin: 0px 170px 0px 350px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: 550px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 150px;
}

.card {
    height: 400px;
    background-color: #EDEFEE;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}

.card > img {
    width: 265px;
    height: 187px;
    border-radius: 16px 16px 0px 0px;
}

.card > p {
    color: #000000;
}

/* ---------------------------------------------------------------- */
/* --------------------------TESTIMONIALS-------------------------- */
/* ---------------------------------------------------------------- */

.testimonials {
    width: 1440px;
    height: 590px;
    background: #495E57;
}

.testimonials > h2 {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

aside > article {
    width: 186px;
    height: 178px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin: 0 20px 0 20px;
    padding: 10px 0 0 10px;
    align-items: center;
}

aside > article > div {
    display: flex;
    flex-direction: row;
}

aside > article > img {
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
}

aside > article > div > img {
    border-radius: 50px;
}

aside > article > p, aside > article > div > p {
    color: #000000;
}

/* ---------------------------------------------------------------- */
/* -------------------------------ABOUT---------------------------- */
/* ---------------------------------------------------------------- */

.about {
    width: 1440px;
    height: 580px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about > article {
    width: 370px;
    display: flex;
    flex-direction: column;
    margin: 0 50px 0 200px;
}

.about > article > h2 {
    margin:0 0 10px 0;
    color: #F4CE14;
}

.about > article > span {
    color: #000000;
    margin: 10px 0 10px 0;
}

.about > article > p {
    color: #000000;
    margin: 20px 0 20px 0;
}

.about > article > button {
    margin: 60px 0 0 0;
}

.about > img {
    width: 272px;
    height: 338px;
    border: 1px solid #000000;
    border-radius: 16px;
}

.about > img:first-of-type {
    transform: scaleX(-1);
    margin: 200px -250px 0 250px;
}

/* ---------------------------------------------------------------- */
/* ------------------------------FOOTER---------------------------- */
/* ---------------------------------------------------------------- */

footer {
    width: 1440px;
    height: 417px;
    background: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

footer > img {
    width: 272px;
    height: 338px;
    border: 1px solid #000000;
    border-radius: 16px;
}

footer > nav {
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
}

footer > nav > ul {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

footer > nav > ul > li {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 54px;
    color: #010201;
}

@media (max-width: 700px) {
    .grid-adjustable-columns {
      display: grid;
      grid-auto-flow: row;
    }
  }

@media (min-width: 701px) {
    .grid-adjustable-columns {
      width: min(1000px,75rem);
      margin: 0 auto;
      grid-auto-flow: column;
      gap: 1em;
    }
  }