/* ---------------------------------------------------------------- */
/* ------------------------------HEADER---------------------------- */
/* ---------------------------------------------------------------- */

header {
    width: 1440px;
    height: 123px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-left: 280px;
    text-decoration: none;
    margin-right: 100px;
  }

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 140px;
}

nav > ul > li {
    margin-left: 40px;
    margin-right: 7px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 54px;
    color: #010201;
}

a {
    text-decoration: none;
    color: #000000
}

a:hover {
    color: #E06733;
    font-weight: 700px;
    transition: color 2s, font-weight 2s;
}

a:active {
    font-weight: 700px;
    transition: font-weight 2s;
}

/* ---------------------------------------------------------------- */
/* ------------------------------MAIN------------------------------ */
/* ---------------------------------------------------------------- */

.main {
    width: 1440px;
}

section {
    width: 1440px;
}

h1 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #F4CE14;
}

h2 {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

h3 {
    font-style: normal;
}

h4 {
    font-style: normal;
}

h5 {
    font-style: normal;
}

span {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

p {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

button {
    width: 200px;
    height: 60px;
    background: #F4CE14;
    border-radius: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

li {
    list-style: none;
}

/* ---------------------------------------------------------------- */
/* ------------------------------HERO------------------------------ */
/* ---------------------------------------------------------------- */

.hero {
    width: 1440px;
    height: 406px;
    background: #495E57;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero > article {
    width: 422px;
    margin: 60px 0px 0px 0px;
}

.hero > article > h2 {
    margin: 0px 0px 10px 0px;
    color: #F4CE14;
}

.hero > article > span {
    margin: 10px 0px 10px 0px;
}

.hero > article > p {
    margin: 20px 0px 20px 0px;
}

.hero > article > button {
    margin: 60px 0px 0px 0px;
}

.hero > img {
    width: 375px;
    height: 440px;
    background: url(./restauranfood.jpg);
    border: 1px solid #000000;
    border-radius: 16px;
    margin: 10px 200px 0 0px;
  }

/* ---------------------------------------------------------------- */
/* ------------------------------HIGHLIGHTS------------------------ */
/* ---------------------------------------------------------------- */

.highlights {
    width: 1440px;
    height: 716px;
    background: #FFFFFF;
}

.highlights > article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.highlights > article > h2 {
    /* margin: 0px 0px 0px 0px; */
    color: #000000;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-auto-rows: 550px;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    gap: 150px;
}

.card {
    height: 400px;
    background-color: #EDEFEE;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
}

.card > img {
    width: 265px;
    height: 187px;
    border-radius: 16px 16px 0px 0px;
}

.card > p {
    color: #000000;
}

/* ---------------------------------------------------------------- */
/* --------------------------TESTIMONIALS-------------------------- */
/* ---------------------------------------------------------------- */

.testimonials {
    width: 1440px;
    height: 590px;
    background: #495E57;
}

/* ---------------------------------------------------------------- */
/* -------------------------------ABOUT---------------------------- */
/* ---------------------------------------------------------------- */

.about {
    width: 1440px;
    height: 580px;
    background: #FFFFFF;
}

/* ---------------------------------------------------------------- */
/* ------------------------------FOOTER---------------------------- */
/* ---------------------------------------------------------------- */

footer {
    width: 1440px;
    height: 417px;
    background: #D9D9D9;
}

@media (max-width: 700px) {
    .grid-adjustable-columns {
      display: grid;
      grid-auto-flow: row;
    }
  }

@media (min-width: 701px) {
    .grid-adjustable-columns {
      width: min(1000px,75rem);
      margin: 0 auto;
      grid-auto-flow: column;
      gap: 1em;
    }
  }